.container {
    background-color: red;
}

.container-right {
  width: 40vw;
  height: 25vh;
  margin-right: 4%;
  margin-left: auto;
}

.container-left {
  width: 40vw;
  height: 25vh;
  margin-left: 4%;
}
