<div fxFlex>
    <form
      class="centered"
      [formGroup]="form"
      (ngSubmit)="onSubmit()"
    >
      <mat-card>
        <mat-card-title>Are you Alina Florea?</mat-card-title>
        <mat-card-content>
          <mat-form-field class="full-width">
            <mat-label>Your Password</mat-label>
            <input matInput type="password" formControlName="password" />
          </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
          <div class="centeredButtons">
            <button mat-flat-button type="submit">Sumbit</button>
            <button mat-flat-button type="button" (click)="openHintDialog()">Hint</button>
          </div>
        </mat-card-actions>
      </mat-card>
    </form>
  </div>
  