/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color : #ffceed;
}

@font-face {
  font-family: 'Rancho';
  src: url('assets/fonts/Rancho-Regular.ttf');
}

@keyframes heartfade {
  0% {
      opacity : 1;
  }
  50% {
      opacity : 0;
  }
}
.heart {
  z-index : 999;
  animation : heartfade 6s linear;
  position : absolute; 
}
.heart:before,
.heart:after {
  content : "";
  background-color : #fc2a62;
  position : absolute;
  height : 30px;
  width : 45px;
  border-radius : 15px 0px 0px 15px;
}

.heart:before {
  transform : rotate(45deg);
}

.heart:after {
  left : 10.5px;
  transform : rotate(135deg);
}