<div *ngIf="getScreenHeight > getScreenWidth" class="centered">
  <h1>Please rotate your phone</h1>
</div>

<div *ngIf="getScreenHeight < getScreenWidth" style="margin-top: 5%">
  <ngx-slick-carousel
    class="carousel"
    #slickModal="slick-carousel"
    [config]="slideConfig"
    (init)="slickInit($event)"
    (breakpoint)="breakpoint($event)"
    (afterChange)="afterChange($event)"
    (beforeChange)="beforeChange($event)"
  >
    <div ngxSlickItem *ngFor="let slide of slides" class="slide">
      <img src="{{ slide.img }}" class="imageMargins" />
    </div>
  </ngx-slick-carousel>
</div>
